@use "./base" as *;

body > * {
  padding: 30px 20px;

  &:not(.background-container):not(footer) {
    max-width: 1150px;
    margin-inline: auto;
  }
}

h2 {
  font-size: 2rem;
  color: $primary-700;
}

section {
  padding-block: 80px;
}

header, footer {

  a {
    position: relative;
  }

  a::after {
    position: absolute;
    bottom: -10px;
    left: 0;
    content: "";
    width: 50%;
    transform: translateX(50%) translateY(-4px);
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  a:hover::after {
    opacity: 1;
    transform: translateX(50%) translateY(0)
  }

}


.background-container {
  padding: 30px 20px;
  color: $primary-100;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include for-tablet-up {
    background-image: url("../images/desktop/image-hero.jpg");
  }

  & > * {
    max-width: 1150px;
    margin-inline: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  
  .hero {
    height: 500px;
    display: flex;
  
    h1 {
      border: 1px solid $primary-100;
      margin-block: auto;
      padding: 20px;
      font-size: 2.5rem;
      max-width: 15ch;
    }
  }
}

.section-one {
  text-align: center;
  position: relative;
  
  @include for-tablet-up {
    display: flex;
    text-align: start;
  }

  img {
    width: 100%;
    margin-bottom: 40px;
    margin-inline: auto;
  }

  .section-one-text {
    max-width: 54ch;
    margin-inline: auto;

    @include for-tablet-up {
      background-color: $primary-100;
      padding: 90px 0 0 90px;
      position: absolute;
      right: 0px;
      bottom: 120px;
    }

    h2 {
      margin-bottom: 20px;
      max-width: 20ch;
      margin-inline: auto;
      @include for-tablet-up {
        font-size: 2.5rem;
      }
    }

    p {
      color: $primary-700;
    }
  }
}

.section-two {
  text-align: center;
  padding-top: 0;
  //mq

  @include for-phone-only {
    .see-all-deskstop {
      display: none;
    }
  }

  @include for-tablet-up {
    .section-two-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      padding-inline: 14px;

      h2 {
        margin-bottom: 0;
      }
    }

    .see-all-mobile {
      display: none;
    }
  }

  .see-all {
    transition: all 0.3s ease-in-out;
  }

  .see-all:hover {
    color: $primary-100;
    background-color: $primary-900;
  }

  .creations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
  }

  h2 {
    margin-bottom: 50px;
  }

  h3 {
    font-size: 1.5rem;
  }
}

footer {
  background-color: $primary-900;
  color: $primary-100;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  
  padding: 40px 0;

  @include for-tablet-up {

  }

  .footer-container {
    padding-inline: 20px;
    width: 100%;
    max-width: 1150px;
    margin-inline: auto;

    @include for-tablet-up {
      display: flex;
      justify-content: space-between;
    }
  }

  & > * {
    margin-inline: auto;
    max-width: 1150px;
  }

  .logo, .footer-links {
    margin-bottom: 40px;
  }

  .logo img{
    margin-inline: auto;

    @include for-tablet-up {
      margin-inline: 0;
    }
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;

    @include for-phone-only {
      a {
        width: 10%;
        margin-inline: auto;
      }
    }

    @include for-tablet-up {
      flex-direction: row;
      gap: 35px;
      margin-bottom: 0;
    }
  }

  .footer-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 10px;

    margin-bottom: 25px;

    @include for-tablet-up {
      justify-content: flex-end;
      gap: 15px;
      margin-bottom: 0;
    }
  }

  p {
    color: $primary-700;
    margin-bottom: 20px;

    @include for-tablet-up {
      margin-bottom: 0;
    }
  }
}