@use "./base" as *;

body > * {
  padding: 30px 20px;

  &:not(.background-container):not(footer) {
    max-width: 1150px;
    margin-inline: auto;
  }
}

h2 {
  font-size: 2rem;
  color: $primary-700;
}

section {
  padding-block: 80px;
}

.background-container {
  padding: 30px 20px;
  color: $primary-100;
  background-image: url(../images/mobile/image-hero.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  @include for-tablet-up {
    background-image: url("../images/desktop/image-hero.jpg");
  }

  & > * {
    max-width: 1150px;
    margin-inline: auto;
  }

  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
  }
  
  .hamburger-icon {
    background-color: transparent;
    border: transparent;
  }
  
  .hero {
    height: 500px;
    display: flex;
  
    h1 {
      border: 1px solid $primary-100;
      margin-block: auto;
      padding: 20px;
      font-size: 2.5rem;
      max-width: 15ch;
    }
  }
}

.section-one {
  text-align: center;
  position: relative;
  
  @include for-tablet-up {
    display: flex;
    text-align: start;
  }

  img {
    width: 100%;
    margin-bottom: 40px;
    margin-inline: auto;
  }

  .section-one-text {
    max-width: 54ch;
    margin-inline: auto;

    @include for-tablet-up {
      background-color: $primary-100;
      padding: 90px 0 0 90px;
      position: absolute;
      right: 0px;
      bottom: 120px;
    }

    h2 {
      margin-bottom: 20px;
      max-width: 20ch;
      margin-inline: auto;
      @include for-tablet-up {
        font-size: 2.5rem;
      }
    }

    p {
      color: $primary-700;
    }
  }
}

.section-two {
  text-align: center;
  padding-top: 0;
  //mq

  @include for-phone-only {
    .see-all-deskstop {
      display: none;
    }
  }

  @include for-tablet-up {
    .section-two-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 50px;
      padding-inline: 14px;

      h2 {
        margin-bottom: 0;
      }
    }

    .see-all-mobile {
      display: none;
    }
  }

  .creations {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding-bottom: 30px;
  }

  h2 {
    margin-bottom: 50px;
  }

  h3 {
    font-size: 1.5rem;
  }
}

footer {
  background-color: $primary-900;
  color: $primary-100;
  text-align: center;
  padding: 40px 0;

  & > * {
    max-width: 1150px;
    margin-inline: auto;
  }

  .logo img{
    margin-inline: auto;
  }

  .logo, .footer-links {
    margin-bottom: 40px;
  }

  .footer-links{
    display: flex;
    flex-direction: column;
    gap: 15px;
  }

  .socials {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;

    margin-bottom: 25px;
  }

  p {
    color: $primary-700;
    margin-bottom: 20px;
  }
}